<%- include('../layout/header', {title:'Profile'}); %>
<body>
<%- include('.././layout/nav', {nav : 'profile'}); %>
<h1>Profile</h1> 
 
<form role="form" id="dataForm" method="post" class="form-horizontal"> 
</form>  
 
</body>
 
<%- include('.././layout/footer'); %>
 
<script> 
$(document).ready(function() {
    profile_edit_init();
    profile_edit_formSubmit();
}); 
</script>
   