<!DOCTYPE html>
<html>
<head>
<title><%= title %></title> 
</head>
<body>
<h1>Login</h1>
    <form action="/item/3" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label>price:</label>
            <input type="text" name="price"/>
        </div>
        <div>
            <label>spaceSize:</label>
            <input type="text" name="spaceSize"/>
        </div>    

        <div>
            <label>houseType:</label>
            <input type="text" name="houseType"/>
        </div>  

        <div>
            <label>rentType:</label>
            <input type="text" name="rentType"/>
        </div>  
        
        <div>
            <label>floor:</label>
            <input type="text" name="floor"/>
        </div>
        
        <div>
            <label>total_floor:</label>
            <input type="text" name="total_floor"/>
        </div>
        
        <div>
            <label>ceaterId:</label>
            <input type="text" name="ceaterId"/>
        </div>
        
        <div>
        <input type="submit" value="CREATE"/>
        </div>
    </form>
</body>
</html>
 