<%- include('../layout/header', {title:'Rooms'}); %>
<body>
<%- include('.././layout/nav', {nav : 'item'}); %>
    
<h1>My Room List</h1> 
    <ul id="rooms"></ul>

    <div><a href="javascript:void(0);" onclick="javascript:loadMyItems();">Load more</a></div>
    
</body>
<%- include('../layout/footer', {footer : 'item'}); %>

    
<script>
$( document ).ready(function() {
   loadMyItems();
});
</script>