<%- include('.././layout/header', {title:'Aabout us'}); %>
<body>
<%- include('.././layout/nav', {nav : ''}); %>
 

<body>
<%- include('.././layout/nav', {nav : ''}); %>
    
abouts

<%- include('.././layout/footer', {footer : 'aboutus'}); %>  
</body>
</html>
