<%- include('.././layout/header', {title:'Contact Us'}); %>
<body>
<%- include('.././layout/nav', {nav : ''}); %>
  
 

<body>
<%- include('.././layout/nav', {nav : ''}); %>
    
contact us

<%- include('.././layout/footer' , {footer : 'contact'}); %>
</body>
</html>