
<%- include('.././layout/header', {title:'TopPage'}); %>
<body>
<%- include('.././layout/nav', {nav : 'index'}); %>
    
<div>BTS ss</div>
<%= t('lang')%>
    
<br/>
<div class="jumbotron"> <p>
This is place to put content. You can put slider, short description about your website and place some links for navigation.
</p></div>
    
    
<%- include('.././layout/footer', {footer : ''}); %>  
</body>
</html>

 